@{
    ViewBag.Title = "Home Page";
}

<div id="ageranger"></div>

<script src="~/Scripts/react.js"></script>
<script src="~/Scripts/react-dom.js"></script>
<script src="~/Scripts/bundle.js"></script>
