<div>
    <p/>
    <div class="form-horizontal" role="form">
        <div class="form-group">
            <label class="control-label col-sm-2" for="email">First Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="firstname" name="firstName" ng-model="person.firstName" placeholder="Enter First Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="lastname" name="lastName" ng-model="person.lastName" placeholder="Enter Last Name">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Age:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="age" name="lastName" ng-model="person.age" placeholder="Enter Age">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button onclick="window.location.href='/'" class="btn btn-default">Cancel</button>
                <input ng-click="updatePerson()" class="btn btn-default" type="submit" id="submit" value="Submit"/>
            </div>
        </div>        
    </div>
    <div class="text-warning">{{errorMessage}}</div>    
</div>